body {
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", Arial, san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #494949;
	text-transform: uppercase;
	background-color: #f2f2f2;
	text-align: center;
}

.main-container {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	min-width: 768px; 
	background-color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
	font-weight: 700;
	color: #000000;
	line-height: 26px;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	margin: 0;
	padding: 0;
	margin-left: -68px;
}

.site-navigation {
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-left: 6%;
	margin-right: 6%;
	padding-top: 16px;
	padding-bottom: 14px;
	padding-left: 0;
 	list-style: none;
}

.site-navigation-items-1 {
	margin-right: 5px;
	text-align: left;
	width: 20%;
}

.site-navigation-items-2 {
	margin-right: 5px;
	text-align: right;
	width: 20%;

}

.site-navigation-items-0 {
	width: 8%
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:active {
	color: #cacaca;
}

.site-navigation-current a {
	color: #766357
}

/*Стилизация изображения в шапке*/

.intro {
	max-width: 1200px;
	height: 508px;
	background-color: #5585ad;
	background-image: url("../img/background.png");
	background-size: cover; 
	background-position: center 20%;

}

.intro-welcome {
	margin: 0 auto;
	padding-top: 79px;
	padding-bottom: 1px;
	margin-bottom: 11px;
	width: 188px;
	height: 45px;
	background: url("../img/welcome.png") bottom no-repeat;
}

.intro-place {
	margin: 0 auto;
	margin-bottom: 52px;
	width: 176px;
	height: 30px;
	background-image: url("../img/gorgeous.png");
}

.intro-strip {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: -70px;
	margin-left: auto;
	margin-right: auto;
	width: 256px;
	height: 2px;
	background-image: url("../img/strip.png") ;
}

.intro-city {
	margin: 0 auto;
	margin-bottom: 52px;
	width: 458px;
	height: 78px;
	background-image: url("../img/sedona.png");
}

.intro-cause {
	margin: 0 auto;
	margin-bottom: 23px;
	width: 296px;
	height: 80px;
	background-image: url("../img/because.png");
}

.intro-shape {
	margin: 0;
	max-width: 1200px;
	background-size: 100% 57px;
	height: 57px;
	background-image: url("../img/shape.png");
	background-position: bottom;
	background-repeat: no-repeat;
}

.about-city {
	line-height: 26px;
	padding-top: 55px;
	padding-bottom: 55px;
}

.about-city h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.cause-one,
.cause-two {
	color: #ffffff;
	background-color: #81b3d2;
	height: 256px;
}

.cause-container {
	padding: 45px;
}
.cause-container h3 {
	font-size: 21px;
	font-weight: 700;
	width: 170px;
	margin: auto;
}

figure {
	margin: 0;
}
.cause-one-container {
	display: flex;
	max-height: 256px;
}

.cause-one {
	width: 33%;
}

.photo-one {
	width: 67%;
	background-color: #81b3d2;
	background-image: url("../img/city-img.png");
	background-position: center;
	background-size: cover;
}

.feature {
	padding-top: 60px;
	padding-bottom: 83px;
}

.feature-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-item {
	width: 290px;
	height: auto;
	margin-left: 65px;
	margin-right: 65px; 
}

.feature-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.cause-two-container {
	display: flex;
	max-height: 260px;
}

.cause-two {
	width: 33%;
}

.photo-two {
	width: 67%;
	background-color: #81b3d2;
	background-image: url("../img/canyon-img.png");
	background-size: cover;
	background-position: center;
}

.attraction {
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: #eeeeee;
}

.attraction-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.attraction-item {
	width: 290px;
	margin-left: 65px;
	margin-right: 65px; 
}

.attraction-item h3 {
	margin: auto;
	width: 130px;
}

.attraction-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.search {
	position: relative;
	z-index: 2;
}

.search-intro {
	padding-top: 50px;
	padding-bottom: 45px;
}

.search h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.search-text {
	line-height: 24px;
}

.button {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	vertical-align: middle;
	border: none;
	outline: none;
	color: #ffffff;
}

.form-title-button {
	width: 568px;
	height: 86px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766357;
}

.form-title-button:hover {
	background-color: #604e43;
}

.form-title-button:active {
	color: #928a85;
	background-color: #503e33;
}

.map-form {
	visibility: hidden;
	position: absolute;		
	max-width: 568px;
	background-color: #ffffff;
	padding: 55px;
	font-weight: 700;
	line-height: 26px;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

.map-form input {
	font: inherit;
	background-color: #f2f2f2;
	box-sizing: border-box;
	border: none;
}

.map-item {
	margin: 0;
}

.map-item-date-arrival input,
.map-item-date-exit input {
	width: 346px;
	height: 38px;
	padding-left: 10px;
}

.map-item-date-arrival input:hover,
.map-item-date-exit input:hover {
	background-color: #ebebeb;
}

.map-item-date-arrival input:focus,
.map-item-date-exit input:focus {
	background-color: #ffffff;
	outline-color: #e5e5e5;
}


.map-item-date-arrival,
.map-item-date-exit {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 22px;
}

.people {
	display: flex;
	padding-bottom: 54px;
}

.people input {
	width: 38px;
	height: 38px;
	text-align: center;
	outline: none;
}

.button-block {
	display: flex;
	margin: 0;
	padding: 0;
}

.map-item-grown {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.map-item-grown .button-block {
	margin-right: 3px; 
}

.map-item-children {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.map-item-children label {
	margin-left: 53px;
}

.calendar-button {
	display: block;
	margin: 0 auto;
	border: none;
	position: absolute;
	left: 84%;
	background-color: transparent;
	fill: #cacaca;
}

.calendar-button:hover path {
	fill: #000000;
}

.calendar-button:focus path {
	fill: #81b3d2;
}

.count-button {
	width: 38px;
	height: 38px;
	font-size: 21px;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border: none;
	outline: none;
}

.count-button:hover {
	color: #000000;
}

.count-button:active {
	color: #81b3d2;
}

.map-button {
	width: 458px;
	height: 58px;
	background-color: #81b3d2;
}

.map-button:hover {
	background-color: #669ec0;
}

.map-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.map-block {
	position: relative;
	overflow: hidden;
}

.map-block iframe {
	width: 100%;
}

@keyframes bounce {
  0% {
    transform: translateY(-380px);
  }

  50% {
    transform: translateY(-5px);
  }

 /* 90% {
    transform: translateY(10px);
  }
*/
  100% {
    transform: translateY(0);
  }
}

.modal-inactive {
	visibility: visible;
	animation: bounce 0.6s;
}

.main-footer {
	display: flex;
	margin-top: -125px;
	background-color: #ffffff;
	position: relative;
	z-index: 1;
	background-color: rgba(255, 255, 255, 0.9);
	align-items: center;
}

.footer-hashtag-container {
	padding: 0;
	margin-top: 51px;
	margin-bottom: 43px;
	width: 33.3%;
}

.footer-hashtag {
	margin: 0 auto;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.footer-social {
	margin-top: 35px;
	margin-bottom: 31px;
	width: 33.3%;
}

.social-list {
	margin: 0 auto;
	padding: 0;
	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1px;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.ha-logo-container {
	margin-top: 40px;
	margin-bottom: 35px;
	width: 33.3%;
}

.ha-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

.ha-logo-button:hover path {
	fill: #81b3d2;
}

.ha-logo:active path {
	fill: #cacaca;
}

.ha-label {
	font-size: 14px;
	line-height: 26px;
	margin-right: 9px; 
}

/*Страница каталога*/

.inner-page {
	/*margin-right: 6%;
	margin-left: 6%;*/
	overflow: hidden;
}

.filtres {
	padding-right: 77px; 
	padding-left: 73px;
	padding-top: 30px;
	padding-bottom: 20px;
	background-color: #5585ad;
	background-image: url("../img/filter-background.png");
	background-position: center 20%;
}

.form-filtres {
	margin: 0;
	display: flex;
	flex-direction: row; 
	color: #ffffff;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

legend {
	font-size: 16px;
	font-weight: 700;
	padding: 0;
	margin: 0;
	text-align: left;
}

.infrastructure legend,
.house-type legend {
	margin-bottom: 25px;
}

.infrastructure {
	margin-right: 110px;
}

.infrastructure-list ,
.house-type-list {
	margin: 0;
 	padding: 0;
	list-style: none;
	text-align: left;
}

.infrastructure-list li,
.house-type-list li {
	margin-bottom: 15px;
	padding-left: 40px;
}

.infrastructure-list label,
.house-type-list label {
	position: relative;
	display: block;
	cursor: pointer;
	/*user-select: none;*/
}

.form-filtres-checkbox:checked + label::after {
	content: "";
	position: absolute;
	top: -1px;
	left: -40px;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox-on.svg") no-repeat;
}

.form-filtres-checkbox + label::before {
	content: "";
	position: absolute;
	top: -1px;
	left: -40px;
	width: 23px;
	height: 23px;
	background: url("../img/checkbox-off.svg") no-repeat;
}

.price-filtre {
	margin-left: auto;
	width: 314px;
}

.price-filtre-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 11px;
	/*padding: 0;
	margin: 0;
	text-align: left;*/
}

.price-select {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	text-align: center;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-select::after {
	content: "";
	position: absolute;
	top: 18%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    
   /* transform: translate(-50%, -34%);*/
}

.price-select label {
	display: inline-block;
	line-height: 30px;
	vertical-align: top;
	cursor: pointer;
}

.price-select input {	
	width: 60px;
	margin: 0;
	font:inherit;
	color: inherit;
	background: none;
	border: none;
}

.price-range {
	position: relative;
	margin-bottom: 13px;
}

.scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.slider {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-switch {
	position: absolute;
	top: 10%;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-switch:hover {
	background: #1c4f80;
}

.range-switch-min {
	left: 0;
}

.range-swith-max {
	left: 80%;
}

.price-min,
.price-max {
	width: 90px;
	padding-left: 45px;
}

.price-button {
	display: block;
 	margin: 0 auto;
	margin-top: 20px;
	padding: 3px 31px;
	font-size: 14px;
	line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;	
}

.search-header {
	padding-left: 70px;
	padding-right: 70px;
	height: 85px;
	margin: auto 0;
}

.search-count {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: auto 0;
}

.count-results {
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-label {
	width: 75px;
	height: 13px;
	margin: 0;
	padding-top: 35px;
}

.search-navigation,
.search-sort {
	margin: 0;
	display: flex;
	align-items: center;
	list-style: none;
}

.search-item {
	padding-right: 30px;
}


.search-navigation a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.search-navigation a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-navigation a:focus {
	color: #81b3d2;
	border: none;
}

.search-navigation a:active {
	color: #000000;
	border: none;
}

.search-sort {
	margin-left: auto;
}

.sort-item:nth-child(2) {
	margin-left: 12px;
}

.search-sort path {
	fill: #cacaca;
}

.search-sort path:hover {
	fill: #231f20;
}

.search-sort path:active {
	fill: #81b3d2;
}

.current-sort path {
	fill: #81b3d2;
}

.search-results {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 72px;
}

.search-results-1 {
	border-top: 1px solid #e5e5e5;
}

.search-results h3 {
	margin: 0;
	padding: 0;
}

.hotel-name {
	font-size: 21px;
	font-weight: 700;
	line-height: 21px;
	color: #000000;
}

.hotel-photo {
	margin-right: 25px;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #cacaca;
}

.hotel-info {
	display: flex;
	flex-direction: column;
}

.hotel-info h3 {
	text-align: left;
	padding-bottom: 5px;
}

.hotel-info-block {
	margin-top: 4px;
	display: flex;

}
.hotel-info-one {
	display: flex;
	flex-direction: column;
}

.hotel-type,
.hotel-price {
	text-align: left;
	margin: 0;
	padding: 0;
	padding-bottom: 12px; 
}

.hotel-info-two {
	display: flex;
	flex-direction: column;
}

.info-button,
.reserv-button {
	font-size: 14px;
	line-height: 27px;
} 

.info-button {
	width: 110px;
	height: 27px;
	background-color: #81b3d2;
	text-align: center;
	margin-right: 6px;
}

.info-button:hover {
	background-color: #669ec0;
}

.info-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.reserv-button {
	width: 142px;
	height: 27px;
	background-color: #766357;	
}

.reserv-button:hover {
	background-color: #604e43;
}

.reserv-button:active {
	color: #928a85;
	background-color: #503e33;
}

.rating-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: auto;
} 

.rating {
	width: 110px;
	height: 27px;
	color: #666666;
	background-color: #f2f2f2;
	line-height: 27px;
	margin-top: 0;
	margin-bottom: 6px;
}

.star-rating {
	display: flex;
	justify-content: flex-end;
}

.star {
	padding-left: 5px;
}

.inner-page .main-footer {
	margin-top: 0;
}