body {
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", Arial, san-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #494949;
	text-transform: uppercase;
	max-width: 1200px;
	background-color: #ffffff;
	/*background-color: #f2f2f2;*/
	text-align: center;
}

/*.main-container {
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	background-color: #ffffff;
}*/

/*Временно для разметки*/

/*.container {
	background-color: #ffff14;
}
*/

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*.main-header {
	margin-bottom: 0;
}*/

.main-header-logo {
	order: 1;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	font-weight: 700;
	color: #000000;
	line-height: 26px;
	background-color: #ffffff;
	justify-content: space-between;
}

.site-navigation {
	margin: 0;
 	padding: 0;
	list-style: none;
}

.site-navigation-1 {
	order: 0;
	display: flex;
	justify-content: space-between;
}

.site-navigation-2 {
	order: 2;
	display: flex;
	justify-content: space-between;
}

.site-navigation li {	
	padding-top: 15px;
	width: 239px;
	height: 56px;
}
.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

/*.site-navigation a:focus {
	color: #766357;
}*/

.site-navigation a:active {
	color: #cacaca;
}

.site-navigation-current a {
	color: #766357
}

/*Стилизация изображения в шапке*/
main {
	margin-top: -22px;
}
.intro {
	max-width: 1200px;
	height: 508px;
	background-color: #5585ad;
	background-image: url("../img/background.png");
	background-position: 0px -55px;
}

.intro-welcome {
	margin: 0 auto;
	padding-top: 76px;
	margin-bottom: 11px;
	width: 188px;
	height: 45px;
	background: url("../img/welcome.png") bottom no-repeat;
}

.intro-place {
	margin: 0 auto;
	margin-bottom: 52px;
	width: 176px;
	height: 30px;
	background-image: url("../img/gorgeous.png")/*, url("../img/strip.png") no-repeat*/;
}

.intro-city {
	margin: 0 auto;
	margin-bottom: 56px;
	width: 458px;
	height: 78px;
	background-image: url("../img/sedona.png");
}

.intro-cause {
	margin: 0 auto;
	margin-bottom: 23px;
	width: 296px;
	height: 80px;
	background-image: url("../img/because.png");
}

.intro-shape {
	margin: 0;
	max-width: 1200px;
	height: 57px;
	background-image: url("../img/shape.png");
}

.about-city {
	line-height: 26px;
	padding-top: 55px;
	padding-bottom: 55px;
}

.about-city h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.cause-one,
.cause-two {
	color: #ffffff;
	background-color: #81b3d2;
	height: 256px;

}

.cause-container {
	padding: 45px;
}
.cause-container h3 {
	font-size: 21px;
	font-weight: 700;
	width: 170px;
	margin: auto;
}

figure {
	margin: 0;
}
.cause-one-container {
	display: flex;
	min-height: 260px;
}

.cause-one {
	width: 33%;
}

.photo-one {
	width: 67%;
}

.feature {
	padding-top: 60px;
	padding-bottom: 83px;
}

.feature-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.feature-item {
	width: 290px;
	height: auto;
	margin-left: 65px;
	margin-right: 65px; 
}

.feature-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.cause-two-container {
	display: flex;
	min-height: 260px;
	
}

.cause-two {
	width: 33%;
}

.photo-two {
	width: 67%;
}

.attraction {
	padding-top: 45px;
	padding-bottom: 60px;
	background-color: #eeeeee;
}

.attraction-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.attraction-item {
	width: 290px;
	margin-left: 65px;
	margin-right: 65px; 
}
.attraction-item h3 {
	margin: auto;
	width: 130px;
}

.attraction-list h3 {
	font-size: 21px;
	font-weight: 700;
	color: #000000;
}

.search {
	position: relative;
	z-index: 2;
}

.search-intro {
	padding-top: 50px;
	padding-bottom: 45px;
}

.search h3 {
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;
	color: #000000;
}

.search-text {
	line-height: 24px;
}

/*.map-form-container {
	position: relative;
	display: flex;
	flex-direction: column;
	
}*/

.map-form {
	position: relative;
	background-color: #ffffff;
	margin: 0 auto;
	width: 568px;
	height: 395px;
	font-weight: 700;
	line-height: 26px;
}

.map-form input {
	font: inherit;
	background-color: #f2f2f2;
}

.map-item-date-arrival {
	margin: 0;
	padding-top: 55px;
}

.button {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	vertical-align: middle;
	border: none;
	color: #ffffff;
}

.form-title-button {
	width: 568px;
	height: 86px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #766357;
}

.form-title-button:hover {
	background-color: #604e43;
}

.form-title-button:active {
	color: #928a85;
	background-color: #503e33;
}

.calendar-button {
	border: none;
}

.count-button {
	background-color: #f2f2f2;
	border: none;
}

.calendar-button:hover,
.count-button:hover {
	background-color: #f2f2f2;
}

/*.calendar-button:focus,
.count-button:focus {
	background-color: #f2f2f2;
}*/

.map-button {
	margin-top: 54px; 
	width: 458px;
	min-height: 58px;
	background-color: #81b3d2;
}

.map-button:hover {
	background-color: #669ec0;
}

.map-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.map-block {
	position: relative;
	/*z-index: 1;*/
	margin-top: -395px;
}

.modal-inactive {
	visibility: hidden;
}

.main-footer {
	display: flex;
	height: 120px;
	margin-top: -120px;
	padding-left: 135px;
	padding-right: 100px;
	background-color: #ffffff;
	opacity: 0.9;
}

.footer-hashtag-container {
	padding: 0;
	margin-right: 256px;
	margin-top: 51px;
	margin-bottom: 54px;
}

.footer-hashtag {
	margin: 0 auto;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}

.footer-social {
	margin-right: 228px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.social-list {
	margin: 0 auto;
	padding: 0;
	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.ha-logo-container {
	margin-left: auto;
	margin-top: 39px;
	margin-bottom: 40px;
}

.ha-logo {
	display: flex;
	align-items: center;
}

.ha-label {
	font-size: 14px;
	line-height: 26px;
	margin-right: 5px; 
}

/*Страница каталога*/

.form-filtres {
	margin: 0;
	display: flex;
	flex-direction: row; 
	color: #ffffff;
	background-color: #5585ad;
}

fieldset {
	border: 0;
}

legend {
	font-size: 16px;
	font-weight: 700;
}

.infrastructure-list,
.house-type-list {
	/*margin: 0;
 	padding: 0;*/
	list-style: none;
}

.price-select input {
	font:inherit;
}

.price-button {
	border: none;
}

.count-results {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
}

.search-header {
	display: flex;
	flex-direction: row;
	height: 85px;
	margin: auto 0;
}

.search-container {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: auto 0;
}

.search-navigation,
.search-sort {
	display: flex;
	flex-direction: row;
	list-style: none;
}

.search-navigation a {
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
}

.search-navigation a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.search-navigation a:focus {
	color: #81b3d2;
	border: none;
}

.search-navigation a:active {
	color: #000000;
	border: none;
}

.hotel-name {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000000;
}

.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #cacaca;
}

.search-results {
	display: flex;
	border: 1px solid #e5e5e5;

	padding: 30px 72px;
}

.search-results .button {
	font-size: 14px;
	line-height: 21px;
} 

.info-button {
	width: 110px;
	height: 27px;
	background-color: #81b3d2
}

.info-button:hover {
	background-color: #669ec0;
}

.info-button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.reserv-button {
	width: 142px;
	height: 27px;
	background-color: #766357;
}

.reserv-button:hover {
	background-color: #604e43;
}

.reserv-button:active {
	color: #928a85;
	background-color: #503e33;
}

.rating {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px; 
	color: #666666;
	background-color: #f2f2f2;
}

.inner-page .main-footer {
	margin-top: 0;
}